body {
    font-family: "Georgia", serif;
    background-color: lightseagreen;
}
section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 606px;
    margin: 50px auto;
    background-color: white;
}
.cell {
    font-family: "Georgia", serif;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
line-height: 200px;
    font-size: 80px;
}